.moviesList {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(3, auto);  
  gap: 10px;                             
  justify-content: center;             
  padding: 30 60px;                     
   padding: 16px;
  }
